<h1> Benefits </h1>

<ul class="list-group list-group-flush">
    <% @benefits.each do |ben| %>
        <li class="list-group-item"><%= link_to "#{ben.name}", benefit_path(ben.id) %></li>
    <% end %>
</ul>