<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-end"><%= @benefit.name %></h1>
        </div>
        <div class="col">
            <br/>
            <br/>
            <div class="border-start">
                <div class="ps-3">
                    Description here!
                    <br/>
                    <%= link_to "Back", benefits_path, class:"btn btn-dark" %>
                    <%= link_to "View Teas", teas_path, class:"btn btn-dark" %>
                </div>
            </div>
        </div>
    </div>
</div>