<h1>Your Favorites</h1>

<ul class="list-group list-group-flush">
    <% @favorites.each do |fav| %>
        <li class="list-group-item">
            <%= link_to "#{fav.name}", tea_path(fav.id) %>
        </li>
    <% end %>
</ul>