<h1>Your Teas</h1>
<div class="row row-cols-auto">
    <div class="col">
        <div class="card text-center">
            image here
            <div class="card-body">
                <h4 class="card-title">Tea Name</h4>
                <button type="button" class="btn btn-light">View</button>
            </div>
        </div>
    </div>
</div>