<h1>Your Teas</h1>
<div class="row">
    <% @teas.each do |tea| %>
        <div class="col">
            <div class="card text-center">
                image here
                <div class="card-body">
                    <h4 class="card-title"><%= tea.name %></h4>
                    <%= link_to "View", tea_path(tea.id), class:"btn btn-light" %>
                </div>
            </div>
        </div>
    <% end %>
</div>