<h1> Ingredients </h1>

<ul class="list-group list-group-flush">
    <% @ingredients.each do |ing| %>
        <li class="list-group-item"><%= link_to "#{ing.name}", ingredient_path(ing.id) %></li>
    <% end %>
</ul>