<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-end"><%= @ingredient.name %></h1>
        </div>
        <div class="col">
            <br/>
            <br/>
            <div class="border-start">
                <div class="ps-3">
                    <ul class="list-group list-group-flush">
                        <% @tea_list.each do |tea| %>
                            <li class="list-group-item"><%= link_to "#{tea.name}", tea_path(tea.id) %></li>
                        <% end %>
                    </ul>
                    <br/>
                    <%= link_to "Back", ingredients_path, class:"btn btn-dark" %>
                </div>
            </div>
        </div>
    </div>
</div>