<div class="container-fluid">
    <div class="row">
        <span class="border-bottom">
        <%= image_tag("varietea.png", id: "logo") %>
        <br/>
        </span>
    </div>
    <div class="row">
        <div class="col">
        <h1 class="text-center">Welcome!</h1>
        <p class="text-center">...so what can you do here?</p>
        <ul>
            <li>Explore a database of teas</li>
            <li>Sort teas by ingredient and/or benefit</li>
            <li>Track teas you've already tried or loved</li>
            <li>Earn badges as you use the app more</li>
            <li>Create your own tea blends to share with others</li>
        </ul>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">Earn Badges</h2>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <b>Tiny Taster</b><br/>
                You've tasted 1 tea!
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <b>Tiny Taster</b><br/>
                You've tasted 1 tea!
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <b>Tiny Taster</b><br/>
                You've tasted 1 tea!
                </p>
            </div>
        </div>
    </div>
</div>