<h1>Welcome to VarieTea</h1>
<p>What can you do here?</p>
<ul>
    <li>Explore a database of teas</li>
    <li>Sort teas by ingredient and/or benefit</li>
    <li>Track teas you've already tried or loved</li>
    <li>Earn badges as you use the app more</li>
    <li>Create your own tea blends to share with others</li>
</ul>